# Local configuration for meta-zynqmp images
# Only tested with zcu102-zynqmp dev boards
# Yocto Project 3.4 Poky distribution [honister] branch

LICENSE_FLAGS_WHITELIST += "xilinx"

DISTRO_FEATURES = "ext2 security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES:remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE = "zcu102-zynqmp"

PREFERRED_PROVIDER_virtual/kernel = "linux-stable"

# DL_DIR = "/src/honister"
# SSTATE_DIR = "/oe9/zynqmp/sstate-cache"
# TMPDIR = "/oe9/zynqmp/tmp-honister"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

SDKMACHINE = "x86_64"

EXTRA_IMAGE_FEATURES = "debug-tweaks"

USER_CLASSES = "image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"
