# Local configuration for meta-zynqmp images
# Only tested with zcu102-zynqmp dev boards
# Yocto Project 4.0 Poky distribution [kirkstone] branch

LICENSE_FLAGS_ACCEPTED += "xilinx"

DISTRO_FEATURES = "ext2 security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES:remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE = "zcu102-zynqmp"

PREFERRED_PROVIDER_virtual/kernel = "linux-stable"

# linux-stable_5.17 is available 
PREFERRED_VERSION_linux-stable = "5.15.%"

# DL_DIR = "/oe/dl/kirkstone"
# SSTATE_DIR = "/oe/zynqmp/sstate-cache"
# TMPDIR = "/oe/zynqmp/tmp"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

SDKMACHINE = "x86_64"

EXTRA_IMAGE_FEATURES = "debug-tweaks"

PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"
