# local.conf for some Xilinx zynqmp boards
# Yocto 3.0 [zeus]
# sysvinit system

XSCT_STAGING_DIR = "${TOPDIR}/xsct"
XILINX_VER_MAIN = "2020.1"
XSCT_TARGETS = "fsbl pmu-firmware"

BIF_PARTITION_ATTR_zynqmp = "fsbl pmu atf u-boot"

SPL_BINARY = ""
PREFERRED_PROVIDER_virtual/boot-bin = "xilinx-bootbin"

DISTRO_FEATURES = "ext2 usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio opengl rtc"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"

PREFERRED_PROVIDER_udev = "eudev"
VIRTUAL-RUNTIME_init_manager = "sysvinit"

IMAGE_FSTYPES = "tar.xz"

DL_DIR = "/src/oe"

SSTATE_DIR = "${TOPDIR}/sstate-cache"
TMPDIR = "${TOPDIR}/tmp"

XSCT_TARGETS = "fsbl pmu-firmware"

MACHINE = "zcu102-zynqmp"
#MACHINE = "db-zynqmp"
#MACHINE = "ultra96-zynqmp"
BBMULTICONFIG = "pmu"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

SDKMACHINE = "x86_64"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES = "image-mklibs image-prelink"

PATCHRESOLVE = "noop"
INHERIT += "rm_work"
RM_OLD_IMAGE = "1"
CONF_VERSION = "1"
